html,
body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  color: #171717;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 9999px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

.text-outline {
  -webkit-text-stroke: 1px #1a36e8;
  color: transparent;
}
